@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');


@import url('./reset.css');



@import url('./nav/nav.css');
@import url('./header/header.css');
@import url('./content/stud/stud.css');
@import url('./content/skils/skils.css');
@import url('./content/hobby/hobby.css');
@import url('./footer/footer.css');
@import url('./footer/copyright.css');
@import url('./root.css');
@import url('./spinner/spinner.css');
@import url('./error/error.css');






html{
    background-color: var(--background-color);
}

.container{
    margin: 0 auto;
    max-width: 800px;
}