.header-card{
    display: flex;
    justify-content: space-between;
}
.header-bio{
    color: var(--accent-text-color);
    margin: 96px 0;
    min-width: 0;
}

.header-title{
    font-size: 60px;
    line-height: 72px;
    color: var(--base-text-color);

}

.header-desc{
    line-height: 24px;
    font-size: 16px;
}

.location-icon{
    width: 13px;
}

.location{
    margin: 48px 0;
}

.header-photo{
    min-width: 210px;
    border: 6px solid var(--background-color);
   
}
.header-photo-section{
    padding-top: 110px;
    margin-left: 48px;
    z-index: 2;
    position: relative;
    
}

/* .folder{
    position: absolute;
    background-color: white;
    min-width: 210px;
    min-height: 280px;
    height: 200px;
    z-index: 1;
    top: 160px;
    right: 250px;
} */

.header-photo-section::after {
    content: "";             
    position: absolute;
    top: 130px;
    left: 20px;
    width: 210px;
    height: 280px;
    background-color: #374151;
    z-index: -1;              
}




@media (max-width: 700px) {
    .header-card {
        flex-direction: column-reverse;   
    }

    .header-bio {
        margin: 5px 0;
        text-align: center;
        width: 100%;
    }

    .header-title {
        font-size: 36px;

    }

    .header-desc {
        font-size: 15px;
        line-height: 1.6;
    }

    .location {
        margin: 24px 0;
        justify-content: center;
    }

    .header-photo-section {
        padding-top: 20px;
        margin-left: 0;
        display: flex;
        justify-content: center;
    }

    .header-photo {
        max-width: 240px;
    }

    .header-photo-section::after {
        content: '';
        background: none;
        top: 50px;
        left: 185px;
        min-width: 260px;
        min-height: 300px;
    }
}


